{% extends "index.html" %}
{% block content %}

<div class="foreGround">
  <h1>{{ current_user.usernameDB }}</h1>
</div>

<hr>

<div class="foreGround">
  <div class="">
    <p class="title">Change Password</p>
    <br>
    {% with messages = get_flashed_messages() %}
     {% if messages %}
       {% for message in messages %}
         <p class="formError"> {{ message }} </p>
       {% endfor %}
    {% endif %}
  {% endwith %}
    <form method="post" name="chPass">
      <h4>Current Password</h4>
      {{ form.hidden_tag() }}
      <p>{{ form.oldPassword(class_="form-control") }}</p>
      <h4>New Password</h4>
      {% for error in form.newPassword.errors %}
        <p class="formError">{{ error }}</p>
      {% endfor %}
      <p>{{ form.newPassword(class_="form-control") }}</p>
      <h4>Re-enter New Password</h4>
      {% for error in form.repeatNewPassword.errors %}
        <p class="formError">{{ error }}</p>
      {% endfor %}
      <p>{{ form.repeatNewPassword(class_="form-control") }}</p>
      <br>
      <div class="center">
        <input class="btn btn-primary" type="submit" value="Change Password">
      </div>
    </form>
  </div>
</div>

<hr>

<div class="foreGround">
  <a href="/removeUser/{{ current_user.id }}" class="btn btn-danger btn-block">Delete Account</a>
</div>


{% endblock %}
